@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100;0,200;1,100&family=Inter:wght@400;600;700&family=Rubik:wght@400;600&family=Source+Code+Pro:wght@200&display=swap');

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}